
/* univarsel section / */
*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

/* fonts section  */
.open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

/* header section  */
.header-section{ 


}

.header-contenar{}
.header-image{ height: 100vh; width: 1600px; background-image: url("/images/banner/banner1.png"); background-repeat: no-repeat; background-size: cover; align-items: center; justify-content: center; background-position: center;}


.headr-titel{ padding: 216px 230px 262px 876px; }
.headr-titel h1{ font-size: 65px; font-weight: bold; width: 525px;height: 220px; margin-bottom: 20px;}
.headr-titel p{ font-weight: 16px; line-height: 26px; color: #444343; margin-bottom: 32px;}

.headr-titel button{width: 160px; height: 64px; color: #FFFFFF; font-size: 20px; border-radius: 5px; background-color:#F15B22;}




/* my sucses*/
.my-sucses{ width: 91%; max-width: 1700px; margin: 80px auto;}

.sucses-contenar{display: flex; justify-content: space-between;align-items: center; text-align: center;}


.sucses-titel{padding: 247px 200px 76px 91px ;}

.sucses-titel h2{font-size: 40px; padding-bottom: 20px; color: #151414; font-weight: bold;}



.sucses-titel .p-titel {width: 416px; height: 104px; text-align: justify; line-height: 26px;}
.p-icon{margin-top: 20px; text-align: justify; line-height: 30px; line-height: 30px;}